PORT=
MONGO_URI=
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_SECRET_KEY=

JWT_SECRET=
NODE_ENV=

SMTP_USER=
SMTP_PASS=

SENDER_EMAIL=

ADMIN_EMAIL = 
ADMIN_PASSWORD = 

STRIPE_API_KEY = 

STRIPE_SECRET_KEY =